body{
    background-color: #383838;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.white_glow {
	color: black;
}

tag :hover {
	color: white;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
                 0 0 20px rgba(255, 255, 255, 0.6),
                 0 0 30px rgba(255, 255, 255, 0.4);
}

h1{
    font-size: 100px;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;

	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;

	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	background-color: rgb(67, 142, 255);
	color: white;
	margin-bottom: 2rem;
    width: 200px;
    margin-top: -25px;
}



#button_anim_zero {
	background-image: linear-gradient(to right, rgb(67, 142, 255) 50%, #383838 50%);
	background-size: 200%;
	transition: 0.4s ease-out;
}

#button_anim_zero :hover {
	background-position: right;
}

#button_anim_one {
	background-image: linear-gradient(to right, rgb(67, 142, 255) 50%, #383838 50%);
	background-size: 200%;
	transition: 0.4s ease-out;
}

#button_anim_one :hover {
	background-position: right;
}
